aside {
    color: rgba($body-color, .875);
    font-size: .875rem;

    h3 {
        font-size: 1.25rem;
        line-height: 1;
        margin-bottom: $paragraph-margin-bottom / 4;
        margin-top: $paragraph-margin-bottom;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        color: rgba($body-color, .75);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1;
        margin: -1.5rem 0 0;
        padding: .5rem 0;
    }

    ul {
        line-height: 1.25;
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
            padding: .5rem 0;
            
            @include media-breakpoint-up(lg) {
                border-bottom: 1px solid rgba($beige, .5);
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    a {
        text-decoration: none;

        .attorney-title {
            color: rgba($taupe, .75);
            transition: all .5s ease-in-out;
        }

        &:hover {
            text-decoration: none;

            .attorney-title {
                color: $taupe;
            }
        }
    }
}

.single-sidebar {
    @extend .col-md-4;
    @extend .col-lg-3;
    margin-bottom: $paragraph-margin-bottom;
    margin-top: $paragraph-margin-bottom;

    @include media-breakpoint-up(md) {
        border-left: 1px solid $beige;
    }

    .practice-attorneys {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    // h3 {
    //     font-family: $proxima;
    //     font-size: 1.5rem;
    //     font-variant: small-caps;
    //     font-weight: 400;
    //     letter-spacing: .25rem;
    //     margin-top: $paragraph-margin-bottom;
    //     text-transform: lowercase;

    //     @include media-breakpoint-up(md) {
    //         font-size: 1.25rem;

    //         br {
    //             display: none;
    //         }
    //     }

    //     @include media-breakpoint-up(lg) {
    //         font-size: 1.375rem;
    //         letter-spacing: .125rem;
    //     }

    //     @include media-breakpoint-up(xl) {
    //         font-size: 1.5rem;
    //     }
    // }

    // & div:first-child h3 {
    //     margin-top: 0;
    // }

    // ul {
    //     list-style: none;
    //     padding-left: 0;

    //     &:last-child {
    //         margin-bottom: 0;
    //     }
    // }

    // li {
    //     border-bottom: 1px solid rgba($beige, .5);
    //     padding: .5rem 0;

    //     &:last-child {
    //         border-bottom: 0;
    //     }

    //     a {
    //         text-decoration: none;
    //     }

    //     h4 {
    //         font-family: $proxima;
    //         font-size: 1rem;
    //         font-variant: small-caps;
    //         font-weight: 400;
    //         letter-spacing: .125rem;
    //         line-height: .875;
    //         margin: 0 0 .5rem;
    //         text-transform: lowercase;
    //     }

    //     p {
    //         color: rgba($body-color, .75);
    //         margin-bottom: 0;
    //     }
    // }

    .post-author {
        color: rgba($body-color, .5);
        display: block;
        font-family: $proxima;
        font-size: .75rem;
        font-variant: small-caps;
        letter-spacing: .05rem;
        margin-top: .25rem;
        text-transform: lowercase;
    }
}