.attorneys-content .attorneys-intro {
    border-bottom: 1px solid $beige;
    font-size: 112.5%;
    margin-bottom: $paragraph-margin-bottom /2;
    padding: $paragraph-margin-bottom 0;

    p:first-child {
        font-size: 125%;
    }
}

.attorneys-cards {
    @extend .row;
    @extend .row-cols-2;
    @extend .row-cols-md-3;
    @extend .row-cols-lg-4;
    @extend .row-cols-xl-5;

    .card {
        border: 0;
        border-radius: 0;
        margin: 0 0 $paragraph-margin-bottom;
    }

    .attorney-photo {
        margin: 0;
        padding: 0;
        width: 100%;

        img {
            min-width: 100%;
        }
    }

    h2.card-title {
        font-size: 150%;
        letter-spacing: .05rem;
        padding: $paragraph-margin-bottom / 2 0;

        @include media-breakpoint-up(sm) {
            font-size: 175%;
            letter-spacing: .125rem;
        }

        .attorney-title {
            font-family: $garamond;
            font-size: 75%;
            display: block;
            letter-spacing: .125rem;
        }

        a {
            color: $body-color;
            text-decoration: none;
        }
    }

    .name-split {
        display: none;

        @include media-breakpoint-up(md) {
            display: inline;
        }
    }

    .card-body {
        padding: 0;

        h3 {
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: .05rem;
            margin-bottom: $paragraph-margin-bottom / 4;

            @include media-breakpoint-up(sm) {
                font-size: 1.125rem;
                letter-spacing: .0875rem;
            }
        }

        p {
            font-size: 100%;
            margin: 0;
        }

        // ul.attorney-admissions,
        ul.attorney-practice-areas {
            font-size: 87.5%;
            list-style: none;
            margin: 0 0 $paragraph-margin-bottom / 2;
            padding-left: 0;
            
            li {
                display: inline;

                &:after {
                    content: " · ";
                }

                &:last-child:after {
                    content: "";
                }

                // .admission-parent {
                //     color: rgba($body-color, .5);
                //     font-size: .875rem;
                //     font-variant: small-caps;
                //     letter-spacing: .05rem;
                //     line-height: 1.25;
                //     text-transform: lowercase;
                // }
            }
        }
    }
}