.author-header {
    box-shadow: $box-shadow;
    position: relative;
    z-index: 1;

    img {
        min-height: 50vh;
        object-fit: cover;
    }

    .overlay {
        align-items: center;
        background-color: rgba($red, .25);

        @include media-breakpoint-up(md) {
            align-items: flex-end;
            padding-bottom: $paragraph-margin-bottom;
        }
    }

    h1 {
        backdrop-filter: blur(3px);
        box-shadow: 0 .125rem 1rem rgba($black, .5);
        color: $white;
        font-family: $proxima;
        font-size: 2.5rem;
        font-variant: small-caps;
        font-weight: 300;
        letter-spacing: .25rem;
        line-height: .875;
        margin: 0;
        padding: 2rem;
        text-align: center;
        text-shadow: 0 .125rem 1rem rgba($black, .5);
        text-transform: lowercase;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
            letter-spacing: .375rem;
        }

        .subheading {
            display: block;
            font-family: $garamond;
            font-size: 1.25rem;
            font-variant: small-caps;
            font-weight: 400;
            letter-spacing: .25rem;
            line-height: .875;
            position: relative;
            text-indent: .25rem;
            text-transform: lowercase;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 2rem;
            }        
        }
    }
}

.author-intro {
    padding-bottom: $paragraph-margin-bottom;
}

.author-profile {
    margin-top: $paragraph-margin-bottom;
}

.author-info {
    @extend .col-md-4;
    position: relative;
    z-index: 2;


    @include media-breakpoint-up(md) {
        z-index: 0;
    }

    &.has-photo {
        margin-top: -25%;

        @media screen and (orientation: landscape) {
            margin-top: -20%;
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
}

.author-photo {
    img {
        border: 0;
        border-radius: 50%;
        box-shadow: $box-shadow;
        margin: 0 25%;
        width: 50%;

        @include media-breakpoint-up(md) {
            border-radius: 0;
            box-shadow: none;
            margin: 0;
            width: 100%;
        }
    }
}

.author-contact {
    font-size: .875rem;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }

    li {
        border-bottom: 1px solid rgba($beige, .5);
        padding: .5rem 0;
        position: relative;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        a {
            text-decoration: none;
        }
    }

    i.fas,
    i.fab {
        padding-right: $paragraph-margin-bottom;
    }
}

.office-address {
    align-items: flex-start;
    display: flex;

    address {
        margin-bottom: 0;
    }

    i {
        line-height: 2.25;
    }
}

.addr-2,
.addr-csz,
.addr-ph {
    display: block;
}

.author-bio {
    @extend .col-md-8;
    padding-top: $paragraph-margin-bottom;

    @include media-breakpoint-up(md) {
        border-left: 1px solid $beige;
        padding-top: 0;
    }

    p:last-child,
    ul:last-child {
        margin-bottom: 0;
    }
}

.author-details {
    border-top: 1px solid $beige;
    margin: 0;
    padding-bottom: $paragraph-margin-bottom / 2;

    @include media-breakpoint-up(md) {
        padding: 0;
    }
}

.author-details {
    @include make-col-ready;
    @include make-col(12);
    font-size: .875rem;
    line-height: 1.25;
    padding: $paragraph-margin-bottom 0 0;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    @include media-breakpoint-up(lg) {
        padding: $paragraph-margin-bottom / 2 0;
    }

    & > div {
        margin-bottom: $paragraph-margin-bottom;
        padding-left: 0;
        padding-right: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }

    h3 {
        font-size: 1.5rem;
        font-variant: small-caps;
        font-weight: 400;
        letter-spacing: .125rem;
        text-transform: lowercase;

        br {
            display: none;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.25rem;

            br {
                display: inline;
            }
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.125rem;
            letter-spacing: .125rem;

            br {
                display: none;
            }
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        border-bottom: 1px solid rgba($beige, .5);
        padding: .5rem 0;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        a {
            text-decoration: none;
        }

        h4 {
            font-family: $proxima;
            font-size: 1rem;
            font-variant: small-caps;
            font-weight: 400;
            letter-spacing: .125rem;
            line-height: .875;
            margin: 0 0 .5rem;
            text-transform: lowercase;
        }

        p {
            color: rgba($body-color, .75);
            margin-bottom: 0;
        }
    }
}

.author-education li {
    padding: .5rem 0;

    &:first-child {
        padding-top: .5rem;
    }

    .year {
        @extend .sc-smaller-light;

        &:before {
            content: " · ";
        }
    }

    .honors {
        color: rgba($body-color, .75);
        font-style: italic;
    }
}

.author-admissions {
    @include media-breakpoint-between(lg, xl) {
        h3 {
            text-indent: -.125rem;
        }
    }

    .court-parent {
        @extend .sc-smaller-light;
        display: block;
    }
}

.author-honors,
.author-activities {
    .year {
        @extend .sc-smaller-light;
    }

    .source,
    .role {
        @extend .sc-small;
        display: block;
    }
}

// .author-education,
//     .author-practice,
//     .author-admissions,
//     .author-honors,
//     .author-activities {
//         margin-bottom: $paragraph-margin-bottom;
//     }

@include media-breakpoint-up(md) {
    .author-education,
    .author-practice,
    .author-admissions,
    .author-honors,
    .author-activities {
        margin-bottom: $paragraph-margin-bottom / 2 0;
        margin-top: 0;
        padding: $paragraph-margin-bottom / 2 0;

        

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
    
    }

    .author-wrap {
        height: 100%;
    }

    .author-education {
        @include make-col(4);
        
        .author-wrap {
            padding: 0 .75rem 0 0;
        }
    }

    .author-practice,
    .author-admissions {
        .author-wrap {
            border-left: 1px solid $beige;
            padding: 0 .75rem;
        }
    }

    .author-practice,
    .author-admissions {
        @include make-col(4);
    }

    .author-admissions,
    .author-honors,
    .author-activites {
        border-bottom: 0;
    }

    .honors-or-activities {
        .author-education,
        .author-practice {
            @include make-col(6);
        }

        .author-admissions {
            @include make-col(6);
            border-top: 1px solid $beige;

            .author-wrap {
                border-left: 0;
                padding: 0 .75rem 0 0;
            }
        }

        .author-honors,
        .author-activities {
            @include make-col(6);
            border-top: 1px solid $beige;

            .author-wrap {
                border-left: 1px solid $beige;
                padding: 0 0 0 .75rem;
            }
        }
    }

    .honors-and-activities {
        .author-education,
        .author-practice {
            @include make-col(6);
        }

        .author-admissions,
        .author-honors,
        .author-activities {
            border-top: 1px solid $beige;
        }

        .author-admissions {
            @include make-col(4);

            .author-wrap {
                border-left: 0;
                padding: 0 .75rem 0 0;
            }
        }

        .author-honors {
            .author-wrap {
                padding: 0 .75rem;
            }
        }

        .author-activities {
            .author-wrap {
                padding: 0 0 0 .75rem;
            }
        }

        .author-honors,
        .author-activities {
            @include make-col(4);
            
            .author-wrap {
                border-left: 1px solid $beige;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .author-education,
    .author-practice,
    .author-admissions,
    .author-honors,
    .author-activities {
        border-bottom: 0;
    }

    .author-education,
    .author-practice,
    .author-admissions {
        @include make-col(4);
    }

    .author-practice {
        .author-wrap {
            padding: 0 .75rem;
        }
    }

    .author-admissions {
        .author-wrap {
            border-left: 1px solid $beige;
            padding: 0 0 0 .75rem;
        }
    }

    .honors-or-activities {
        .author-education {
            @include make-col(3);
        }

        .author-practice,
        .author-admissions,
        .author-honors,
        .author-activities {
            @include make-col(3);
            border-top: 0;
        }

        .author-practice,
        .author-admissions {
            .author-wrap {
                border-left: 1px solid $beige;
                padding: 0 .75rem;
            }
        }
    }

    .honors-and-activities {
        .author-education,
        .author-practice {
            @include make-col(3);
        }

        .author-practice,
        .author-admissions {
            .author-wrap {
                border-left: 1px solid $beige;
                padding: 0 .75rem;
            }
        }

        .author-admissions,
        .author-honors,
        .author-activities {
            @include make-col(2);
            border-bottom: 0;
            border-top: 0;
        }
    }
}

.cta-contact-links {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & > span {
        display: block;
    }
}

.cta-contact-link {
    padding: 0 0 0 $paragraph-margin-bottom / 4;

    .btn {
        padding-left: $paragraph-margin-bottom / 2;
        padding-right: $paragraph-margin-bottom / 2;
    }
}