html,
body {
    margin: 0;
    overflow-x: hidden;
    padding: 0 !important;
    position: relative;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.site-footer {
    flex-shrink: 0;
}