.side-by-side {
    box-shadow: $box-shadow;
    position: relative;
    z-index: 1;

    .row {
        --bs-gutter-x: 0;
    }
}

.side-by-side-image,
.side-by-side-text {
    @include make-col-ready;
    @include make-col(6);
    display: flex;
    position: relative;
}

.side-by-side-image {
    img {
        height: 100%;
        left: 50%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 50vw;
        object-fit: cover;
        position: relative;
        right: 50%;
        width: 50vw;
    }

    &:before {
        bottom: 0;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 50vw;
        z-index: -1;
    }

    &:after {
        bottom: 0;
        content: "";
        height: 100%;
        left: 50%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 50vw;
        position: absolute;
        top: 0;
        width: 50vw;
    }
}


.side-by-side-text {
    .side-by-side-text-wrapper {
        color: $white;
        font-family: $proxima;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: auto;
        margin-top: auto;
        padding: $paragraph-margin-bottom 0 $paragraph-margin-bottom $paragraph-margin-bottom;

        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
            max-width: 75%;
        }
    }

    h2 {
        color: $white;
        font-family: $essonnes;
        font-size: 1.75rem;
        font-variant-caps: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.125;

        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }
    }

    p {
        margin: 0 0 $paragraph-margin-bottom / 2;

        &:last-child {
            margin: 0;
        }
    }

    a.btn {
        border-radius: 0;
        font-size: 1rem;
        font-variant-caps: all-small-caps;
        font-weight: 400;
        letter-spacing: .125rem;
        line-height: 1;
        padding: 1rem 1.5rem;

        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }

    &:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    &:after {
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        width: 50vw;
        z-index: -1;
    }
}

.side-by-side.side-by-side-right {
    .side-by-side-image {
        @extend .order-2;

        img {
            left: 0;
            margin-left: 0;
            margin-right: 0;
            right: 0;
        }

        &:after {
            left: 0;
            margin-left: 0;
            margin-right: 0;
            right: 50%;
        }
    }

    .side-by-side-text {
        text-align: right;

        .side-by-side-text-wrapper {
            padding: $paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom 0;
            @include media-breakpoint-up(md) {
                margin-left: 25%;
            }
        }

        &:after {
            right: 0;
        }
    }
}