.big-image-header {
    position: relative;
}

.big-image-header-2x1,
.big-image-header-4x3 {
    height: 0;
    position: relative;

    & > img {
        left: 0;
        min-height: 0;
        min-width: 100%;
        position: absolute;
        top: 0;
    }
}

.big-image-header-2x1 {
    padding-top: 50%;
}

.big-image-header-4x3 {
    padding-top: 75%;
}

.big-image-header,
.plain-header {
    h1 {
        backdrop-filter: blur(3px);
        box-shadow: 0 .125rem 1rem rgba($black, .5);
        color: $white;
        font-family: $proxima;
        font-size: 2.5rem;
        font-variant: small-caps;
        font-weight: 300;
        letter-spacing: .25rem;
        line-height: .875;
        margin: 0;
        padding: 2rem;
        text-align: center;
        text-shadow: 0 .125rem 1rem rgba($black, .5);
        text-transform: lowercase;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
            letter-spacing: .375rem;
        }

        .subheading {
            display: block;
            font-family: $garamond;
            font-size: 1.25rem;
            font-variant: small-caps;
            font-weight: 400;
            letter-spacing: .25rem;
            line-height: .875;
            margin-top: .375rem;
            position: relative;
            text-indent: .25rem;
            text-transform: lowercase;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 2rem;
            }        
        }
    }
}

.plain-header {
    align-items: flex-end;
    display: flex;
    padding: 20% 0 2rem;
}