.blog-header {
    h1 {
        font-size: 3.5rem;
        font-weight: 400;

        @include media-breakpoint-up(md) {
            font-size: 4.5rem;
            letter-spacing: .375rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 5.5rem;
            letter-spacing: .5rem;
        }
    }
}

img.rdm-logo {
    height: .875rem;

    @include media-breakpoint-up(md) {
        height: 1rem;
        vertical-align: -.125rem;
    }

    @include media-breakpoint-up(lg) {
        height: 1.25rem;
    }
}

.attorney-blog {
    .blog-header {
        h2 {      
            border-top: 1px solid $beige;    
            font-family: $essonnes;
            font-size: 3rem;
            font-variant-caps: normal;
            font-weight: 400;
            letter-spacing: -.05rem;
            line-height: 1;
            padding-top: $paragraph-margin-bottom;

            .subheading {
                color: rgba($body-color, .5);
                display: block;
                font-family: $proxima;
                font-size: 1.5rem;
                font-variant-caps: all-small-caps;
                font-weight: 300;
                letter-spacing: .125rem;
            }
        }
    }
}

.blog-page {
    .blog-content {
        @include make-col-ready;

        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    .blog-sidebars {
        @include make-col-ready;

        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: $paragraph-margin-bottom;
            margin-top: $paragraph-margin-bottom;

            .blog-sidebars-row {
                @include make-row;
                height: 100%;
                padding-top: 0;
            }
        }
    }

    .blog-sidebar {
        border-top: 1px solid $beige;
        margin-top: $paragraph-margin-bottom;
        padding-top: $paragraph-margin-bottom;

        @include media-breakpoint-up(md) {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
        }

        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(6);
            border-left: 1px solid $beige;
        }
    }
}

.blog-post {
    border-top: 1px solid $beige;
    margin: $paragraph-margin-bottom 0;
    padding-top: calc(var(--bs-gutter-x) / 2);

    &:first-child {
        border-top: 0;
        padding-top: 0;
    }

    &:hover .has-post-thumbnail .post-thumbnail:after {
        background-color: transparent;
    }

    h2,
    h3 {
        margin-bottom: 0;
        width: 100%;

        a {
            color: rgba($white, .875);
            text-decoration: none;

            &:hover {
                color: $white;
            }
        }

        .subheading {
            display: block;
            font-family: $essonnes;
            font-size: 1.5rem;
            font-variant-caps: normal;
            font-weight: 400;
            letter-spacing: 0;
            margin-top: .5rem;
        }
    }

    .post-title {
        box-shadow: $box-shadow-light;
        padding: $paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom calc(var(--bs-gutter-x) / 2);
        transition: all .25s ease-in-out;

        @include media-breakpoint-up(lg) {
            padding: 0 $paragraph-margin-bottom / 2 0 calc(33.3333% + calc(var(--bs-gutter-x) / 2));
        }
    }
    
    header.has-post-thumbnail {
        position: relative;

        .post-thumbnail {
            box-shadow: $box-shadow;

            img {
                min-height: 16rem;
                object-fit: cover;
                position: relative;
            }
        }

        .overlay {
            align-items: flex-end;
            transition: all .25s ease-in-out;
            width: auto;
        }

        h2,
        h3 {
            backdrop-filter: blur(3px);
            padding: $paragraph-margin-bottom / 2 $paragraph-margin-bottom / 2 $paragraph-margin-bottom / 2 calc(var(--bs-gutter-x) / 2);
            text-shadow: 0 .125rem 1rem rgba($black, .5);

            @include media-breakpoint-up(lg) {
                padding: $paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom calc(33.3333% + calc(var(--bs-gutter-x) / 2));
            }

            .subheading {
                margin-top: $paragraph-margin-bottom / 2;
            }
        }
    }

    &.post-color-blue {
        .post-title {
            background-color: $blue;
        }

        .overlay,
        .post-thumbnail:after {
            background-color: rgba($blue, .25);
        }
    }

    &.post-color-red {
        .post-title {
            background-color: $red;
        }

        .overlay,
        .post-thumbnail:after {
            background-color: rgba($red, .25);
        }
    }

    &.post-color-beige {
        .post-title {
            background-color: $beige;
        }

        .overlay,
        .post-thumbnail:after {
            background-color: rgba($beige, .25);
        }
    }

    &.post-color-taupe {
        .post-title {
            background-color: $taupe;
        }

        .overlay,
        .post-thumbnail:after {
            background-color: rgba($taupe, .25);
        }
    }

    &.post-color-brown {
        .post-title {
            background-color: $brown;
        }

        .overlay,
        .post-thumbnail:after {
            background-color: rgba($brown, .25);
        }
    }

    .post-meta {
        color: rgba($body-color, .75);
        font-family: $proxima;
        font-size: .75rem;
        font-variant-caps: all-small-caps;
        font-weight: 300;
        letter-spacing: .05rem;
        line-height: 2;
        margin-top: $paragraph-margin-bottom / 2;

        @include media-breakpoint-up(xl) {
            font-size: .875;
        }

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            &.post-categories {
                li {
                    display: inline;

                    &:after {
                        content: ", ";
                    }

                    &:last-child:not(:nth-child(2)):before {
                        content: "and ";
                    }

                    &:nth-child(2):nth-last-child(2):after {
                        content: " ";
                    }

                    &:first-child:after,
                    &:last-child:after {
                        content: "";
                    }
                }
            }
        }

        p, ul {
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                margin-bottom: $paragraph-margin-bottom / 2;
            }

            &:last-child {
                margin-bottom: 0;
                padding-bottom: $paragraph-margin-bottom / 2;
            }
        }
    }

    .post-content {
        margin-top: $paragraph-margin-bottom / 2;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.blog-post:hover {
    .post-thumbnail:after,
    .overlay {
        background-color: transparent;
    }

    .post-title {
        box-shadow: $box-shadow;
    }
}

.front-page-blog {
    .post-thumbnail {
        margin-bottom: $paragraph-margin-bottom;
        position: relative;
        
        &:after {
            background-color: rgba($red, .25);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .5s all ease-in-out;
        }
    }

    .post-content {
        border-left: 0;
    }
}

.blog-page,
.attorney-blog {
    .blog-post {
        h2,
        h3 {
            @include media-breakpoint-up(lg) {
                padding: $paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom 0;
            }
        }
    }

    .post-meta {
        @include make-col-ready;
        @include make-col(12);
        margin-top: $paragraph-margin-bottom / 2;

        @include media-breakpoint-up(md) {
            @include make-col(4);
            margin-top: $paragraph-margin-bottom;
            text-align: right;
        }
    }

    .post-content {
        @include make-col-ready;
        @include make-col(12);
        
        @include media-breakpoint-up(md) {
            @include make-col(8);
            border-left: 1px solid $beige;
            margin-top: $paragraph-margin-bottom;
        }
    }
}

.attorney-blog {
    --bs-gutter-x: 1.5rem;
}