.blog-header-image {
    position: relative;
}

.blog-header-image-overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    h1 {
        background-color: rgba($black, .5);
        box-shadow: 0 .125rem 1rem rgba($black, .75);
        color: $white;
        font-family: 'proxima-nova', sans-serif;
        @include font-size(6rem);
        font-weight: 700;
        letter-spacing: .5rem;
        line-height: 1;
        margin: 0;
        padding: 2rem 0;
        text-align: center;
        text-shadow: 0 .125rem 1rem rgba($black, .75);
        text-transform: uppercase;
        width: 75%;

        span {
            @include font-size(2rem);
            font-weight: 400;
            line-height: 1;
        }

        span.subtitle {
            display: block;
            letter-spacing: .25rem;
            
        }
        
        span.rdm {
            font-family: 'essonnes-headline', serif;
        }

        span.bar {
            font-weight: 100;
            padding: 0 .05rem;
        }
    }
}

.blog-intro {
    padding: $paragraph-margin-bottom 0;
}

.blog-intro-title {
    @include make-col-ready;
    @include make-col(4);
    // align-items: center;
    border-right: 2px solid $beige;
    display: flex;
    justify-content: center;

    h2 {
        font-family: 'essonnes-headline', serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.25;
        text-align: right;
    }
}

.blog-intro-content {
    @include make-col-ready;
    @include make-col(8);
    font-family: 'garamond-premier-pro', serif;

    p {
        font-family: 'proxima-nova', sans-serif;
        font-size: 1.25rem;
        line-height: 1.75;
    }

    p:first-child {
        font-family: 'garamond-premier-pro', serif;
        font-size: 1.5rem;
        line-height: 1.75;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.blog-subscribe {
    background-color: $taupe;
    color: $white;
    padding: $paragraph-margin-bottom 0;
}

.blog-subscribe-title {
    @include make-col-ready;
    @include make-col(4);
    border-left: 2px solid $white;
    @extend .order-last;

    h2 {
        font-family: 'essonnes-headline', serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.25;
        text-align: left;

        span.subtitle {
            display: block;
            font-family: 'proxima-nova', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: .125rem;
            text-transform: uppercase;
        }
    }
}

.blog-subscribe-content {
    @include make-col-ready;
    @include make-col(8);
    @extend .order-first;
    text-align: right;

    p:last-child {
        margin-bottom: 0;
    }
}

.post-thumbnail {
    @include make-col-ready;
    @include make-col(4);
}

.post-title {
    @include make-col-ready;
    @include make-col(8);
    background-color: $brown;
}