.bg-brown {
    background-color: $brown;

    .post-title,
    .block-header {
        background-color: $brown;
    }

    a.btn,
    button.btn {
        @extend .btn-beige;
    }

    h1,
    &.big-image-form .header-text {
        background-color: rgba($brown, .5);
    }

    .overlay,
    .post-thumbnail:after {
        background-color: rgba($brown, .25);
    }

    .side-by-side-image {
        &:before {
            background-color: $brown;
        }

        &:after {
            background-color: rgba($brown, .25);
        }
    }
}

.bg-taupe {
    background-color: $taupe;

    .post-title,
    .block-header  {
        background-color: $taupe;
    }

    a.btn,
    button.btn {
        @extend .btn-brown;
    }

    h1,
    &.big-image-form .header-text  {
        background-color: rgba($taupe, .5);
    }

    .overlay,
    .post-thumbnail:after {
        background-color: rgba($taupe, .25);
    }

    .side-by-side-image {
        &:before {
            background-color: $taupe;
        }

        &:after {
            background-color: rgba($taupe, .25);
        }
    }
}

.bg-beige {
    background-color: $beige;
    color: rgba($brown, .875);

    .post-title,
    .block-header  {
        background-color: $beige;
    }

    a.btn,
    button.btn {
        @extend .btn-brown;
    }

    h1,
    &.big-image-form .header-text  {
        background-color: rgba($beige, .5);
    }

    .overlay,
    .post-thumbnail:after {
        background-color: rgba($beige, .25);
    }

    .side-by-side-image {
        &:before {
            background-color: $beige;
        }

        &:after {
            background-color: rgba($beige, .25);
        }
    }
}

.bg-blue {
    background-color: $blue;

    .post-title,
    .block-header  {
        background-color: $blue;
    }

    a.btn,
    button.btn {
        @extend .btn-taupe;
    }

    h1,
    &.big-image-form .header-text  {
        background-color: rgba($blue, .5);
    }

    .overlay,
    .post-thumbnail:after {
        background-color: rgba($blue, .25);
    }

    .side-by-side-image {
        &:before {
            background-color: $blue;
        }

        &:after {
            background-color: rgba($blue, .25);
        }
    }
} 

.bg-red {
    background-color: $red;

    .post-title,
    .block-header  {
        background-color: $red;
    }

    a.btn,
    button.btn {
        @extend .btn-taupe;
    }

    h1,
    &.big-image-form .header-text  {
        background-color: rgba($red, .5);
    }

    .overlay,
    .post-thumbnail:after {
        background-color: rgba($red, .25);
    }

    .side-by-side-image {
        &:before {
            background-color: $red;
        }

        &:after {
            background-color: rgba($red, .25);
        }
    }
}

// &.post-color-blue {
//         .post-title {
//             background-color: $blue;
//         }

//         .overlay,
//         .post-thumbnail:after {
//             background-color: rgba($blue, .25);
//         }
//     }

//     &.post-color-red {
//         .post-title {
//             background-color: $red;
//         }

//         .overlay,
//         .post-thumbnail:after {
//             background-color: rgba($red, .25);
//         }
//     }

//     &.post-color-beige {
//         .post-title {
//             background-color: $beige;
//         }

//         .overlay,
//         .post-thumbnail:after {
//             background-color: rgba($beige, .25);
//         }
//     }

//     &.post-color-taupe {
//         .post-title {
//             background-color: $taupe;
//         }

//         .overlay,
//         .post-thumbnail:after {
//             background-color: rgba($taupe, .25);
//         }
//     }

    // .bg-brown {
    //     .post-title {
    //         background-color: $brown;
    //     }

    //     .overlay,
    //     .post-thumbnail:after {
    //         background-color: rgba($brown, .25);
    //     }
    // }

.post-blue blockquote {
    border-color: $blue;
}

.post-red blockquote {
    border-color: $red;
}

.post-beige blockquote {
    border-color: $beige;
}

.post-taupe blockquote {
    border-color: $taupe;
}

.post-brown blockquote {
    border-color: $brown;
}