.cta {
    box-shadow: none;
    margin-bottom: $paragraph-margin-bottom;
    padding: $paragraph-margin-bottom / 2;
    transition: all .25s ease-in-out;

    @include media-breakpoint-up(sm) {
        padding: $paragraph-margin-bottom;
    }

    &:not(.bg-beige) {
        color: rgba($white, .875);

        &:hover {
            color: $white;
        }

        label {
            color: rgba($white, .875);
        }
    }

    &:hover {
        box-shadow: $box-shadow-light;
    }

    h3 {
        font-family: $essonnes;
        font-variant: normal;
        // font-weight: 300;
        letter-spacing: 0;
        line-height: 1.25;
        // margin-bottom: $paragraph-margin-bottom / 2;
        // padding: 0 !important;
        text-transform: none;

        @include media-breakpoint-up(xl) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1rem;
        margin-bottom: $paragraph-margin-bottom / 2;

        @include media-breakpoint-up(xl) {
            font-size: 1.25rem;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    &.align-left,
    &.align-right {
        @include media-breakpoint-up(lg) {
            width: 50%;
        }

        @include media-breakpoint-up(xl) {
            width: 33.3333%;
        }
    }

    &.align-left {
        @include media-breakpoint-up(md) {
            float: left;
            margin: $paragraph-margin-bottom / 2 $paragraph-margin-bottom $paragraph-margin-bottom / 2 0;
        }            
    }

    &.align-right {
        @include media-breakpoint-up(md) {
            float: right;
            margin: $paragraph-margin-bottom / 2 0 $paragraph-margin-bottom / 2 $paragraph-margin-bottom;
        }            
    }

    &:not(.bg-beige) a:not(.btn) {
        color: rgba($white, .875);
        text-decoration-color: rgba($white, .5);

        &:hover {
            color: $white;
            text-decoration-color: rgba($white, .875);
        }
    }

    &.bg-beige a:not(.btn) {
        color: rgba($brown, .75);
        text-decoration-color: rgba($brown, .5);

        &:hover {
            color: $brown;
            text-decoration-color: rgba($brown, .875);
        }
    }

    .forminator-design--none input,
    .forminator-design--none textarea {
        background-color: rgba($white, .75);

        &:focus,
        &:hover {
            background-color: rgba($white, .875);
        }

        &::placeholder {
            color: rgba($body-color, .75);
        }
    }
}

.cta.mini-cta {
    &.align-left,
    &.align-right {
        @include media-breakpoint-up(sm) {
            width: 50%;
        }

        @include media-breakpoint-up(md) {
            width: 33.3333%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }

    &.align-left {
        @include media-breakpoint-up(sm) {
            float: left;
            margin: $paragraph-margin-bottom / 2 $paragraph-margin-bottom $paragraph-margin-bottom / 2 0;
        }            
    }

    &.align-right {
        @include media-breakpoint-up(sm) {
            float: right;
            margin: $paragraph-margin-bottom / 2 0 $paragraph-margin-bottom / 2 $paragraph-margin-bottom;
        }            
    }
}

.cta-form {
    .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row.forminator-row-last {
        margin-bottom: 0;
    }
}

.author-bio .cta:last-child {
    margin-bottom: 0;
    
    h3 {
        font-size: 1.75rem;

        @include media-breakpoint-up(md) {
            font-size: 2.25rem;
        }
    }
}