.front-page-content {
    margin: $paragraph-margin-bottom * 2 0;
}

.front-page-blog {
    @extend .col-md-8;
    @extend .col-lg-6;

    & > header {
        margin-bottom: $paragraph-margin-bottom / 2;
    }

    h2 {           
        font-family: $essonnes;
        font-size: 3rem;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: -.05rem;
        line-height: 1;
        margin-bottom: 0;
        text-transform: none;

        & + p {
            color: rgba($body-color, .5);
            font-family: $proxima;
            font-size: 1rem;
            font-variant: small-caps;
            font-weight: 300;
            letter-spacing: .125rem;
            line-height: 1.5;
            margin-bottom: 0;
            margin-top: $paragraph-margin-bottom / 4;
            text-transform: lowercase;

            a {
                color: rgba($link-color, .5);
            }
        }
    }
}

.attorneys {
    @extend .col-md-4;
    @extend .col-lg-2;
    border-top: 1px solid $beige;
    margin-top: $paragraph-margin-bottom;
    padding-top: $paragraph-margin-bottom;

    @include media-breakpoint-up(md) {
        border-left: 1px solid $beige;
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    h3 br {
        display: none;

        @include media-breakpoint-up(md) {
            display: inline;
        }
    }

    ul {
        @extend .row;
        line-height: 1.25;
        padding-left: 0;

        li {
            @extend .col-6;
            @extend .col-md-12;
            padding-bottom: .5rem;
            padding-top: .5rem;

            &:nth-child(odd) {
                padding-left: 0;
            }

            @include media-breakpoint-up(md) {
                border-bottom: 1px solid rgba($beige, .5);
                padding-left: 0;
            }
        }
    }
}

.additional-content {
    @extend .col-md-6;
    @extend .col-lg-2;
    margin-top: $paragraph-margin-bottom * 2;

    &.additional-content-col-1 {
        ul {
            margin-right: $paragraph-margin-bottom / 2;

            @include media-breakpoint-up(md) {
                margin-right: 0;
            }
        }
    }

    &.additional-content-col-2 {
        @include media-breakpoint-up(md) {
            border-left: 1px solid $beige;
        }
    }

    @include media-breakpoint-up(lg) {
        border-left: 1px solid $beige;
        margin-top: 0;
        padding-top: 0;

        ul {
            margin: 0;
        }
    }

    p {
        line-height: 1.5;
    }

    ul li {
        line-height: 1.25;
        padding: .5rem 0;
    }

    .admissions {
        li {
            border-bottom: 1px solid rgba($beige, .5);
            font-family: $proxima;
            font-size: 1.125rem;
            font-variant: small-caps;
            font-weight: 400;
            letter-spacing: .125rem;
            line-height: 1;
            padding: .5rem 0;
            text-transform: lowercase;

            ul.children {
                padding: .5rem 0 0;

                li {
                    border-bottom: 0;
                    font-size: .875rem;
                    font-variant: normal;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 1.5;
                    padding: 0;
                    text-transform: none;
                }
            }
        }
    }
}

.attorneys,
.additional-content {
    color: rgba($body-color, .875);
    font-size: .875rem;

    h3 {
        font-family: $proxima;
        font-size: 1.25rem;
        font-variant: small-caps;
    text-transform: lowercase;
        letter-spacing: .125rem;
        line-height: 1;
        margin-top: $paragraph-margin-bottom;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        color: rgba($body-color, .75);
        font-family: $proxima;
        font-size: 1.125rem;
        font-variant: small-caps;
    text-transform: lowercase;
        font-weight: 400;
        letter-spacing: .125rem;
        line-height: 1;
        margin: -1.5rem 0 0;
        padding: .5rem 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
            @include media-breakpoint-up(lg) {
                border-bottom: 1px solid rgba($beige, .5);
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    a {
        text-decoration: none;

        .attorney-title {
            color: rgba($taupe, .75);
            transition: all .5s ease-in-out;
        }

        &:hover {
            text-decoration: none;

            .attorney-title {
                color: $taupe;
            }
        }
    }
}

.attorney-title {
    font-family: $proxima;
    font-size: .75rem;
    font-variant: small-caps;
    letter-spacing: .05rem;
    line-height: 1;
    text-transform: lowercase;
}