a {
    text-decoration: underline;
    text-decoration-color: rgba($link-color, .75);
    transition: all .5s ease-in-out;

    &:hover {
        text-decoration: underline;
        text-decoration-color: rgba($link-hover-color, .75);
    }
}

.more-link {
    font-weight: 400;
    text-decoration: none;

    span {
        font-weight: 600;
        text-decoration: underline;
    }

    .mdi {
        vertical-align: unset;
    }
}