a {
    text-decoration: underline;
    text-decoration-color: $link-color;
    transition: all .5s ease-in-out;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $link-hover-color;
    }
}

.more-link {
    font-weight: 400;
    text-decoration: none;
    transition: all .25s ease-in-out;

    span {
        font-weight: 600;
        text-decoration: underline;
    }
}

.blog-post a.permalink .subheading {
    color: rgba($white, .75);

    &:hover {
        color: rgba($white, .875);
    }
}

.view-all {
    font-weight: 400;
}