.navbar-wrapper {
    backdrop-filter: blur(3px);
    background-color: transparent;
    box-shadow: $box-shadow;
    transition: background-color ease-in .75s;
}

.nav-translucent {
    background-color: rgba($brown, .5);
}

.nav-opaque {
    background-color: $brown;
}

.navbar-brand {
    color: $white;
    font-family: 'essonnes-headline', serif;
    @include font-size(3rem);
    font-weight: 400;
    line-height: 1;
    transition: text-shadow ease-in .375s;

    &:hover {
        color: $white;
        text-shadow: 0 .125rem 1rem rgba($white, .25);
    }

    .bar {
        @include font-size(2.75rem);
        font-weight: 100;
        margin: 0 .25rem;
    }

    .sub-brand {
        display: block;
        font-family: 'garamond-premier-pro', serif;
        @include font-size(.75rem);
        @include rfs(.25rem, letter-spacing);
        font-weight: 400;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
    }
}

.nav-item {
    font-family: 'proxima-nova', sans-serif;
    @include font-size(1rem);
    font-weight: 300;
    @include rfs(.25rem, letter-spacing);
    text-transform: uppercase;
}

.nav-link {
    color: rgba($white, .75);

    &:hover {
        color: $white;
    }
}

#navbarLocations {
    margin-top: -16px;

    .nav-item {
        @include font-size(.75rem);
        @include rfs(.25rem, letter-spacing);

        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}