.navbar-wrapper {
    backdrop-filter: blur(5px);
    background-color: transparent;
    box-shadow: $box-shadow;
    transition: background-color ease-in .75s;
}

.nav-translucent {
    background-color: rgba($brown, .5);
}

.nav-opaque {
    background-color: $brown;
}

.navbar-brand {
    svg {
        fill: $beige;
        height: 2rem;
        transition: all .25s ease-in-out;

        &:hover {
            fill: $white;
        }

        @include media-breakpoint-up(md) {
            height: 3rem;
        }

        @include media-breakpoint-up(lg) {
            height: 3.5rem;
        }
    }
}

.nav-item {
    font-family: 'proxima-nova', sans-serif;
    font-size: 1rem;
    font-variant-caps: all-small-caps;
    font-weight: 300;
    letter-spacing: .125rem;

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
        letter-spacing: .25rem;
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    color: rgba($white, .75);
    padding: .5rem .75rem;

    @include media-breakpoint-up(lg) {
        padding: .5rem 1rem;
    }

    &:hover {
        color: $white;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 .125rem rgba($beige, .5);
}

.navbar-toggler-icon {
    background-image: $navbar-toggler-icon-bg;
    border-color: $taupe;
}

#navbarLocations {
    margin-top: -16px;

    .nav-item {
        @include font-size(.75rem);
        @include rfs(.25rem, letter-spacing);

        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}