.page-content {
    margin-top: $paragraph-margin-bottom;

    & > p:first-child {
        font-size: 125%;
    }
}

.page-with-sidebar {
    .page-wrapper {
        margin: 0 0 $paragraph-margin-bottom;
        padding: $paragraph-margin-bottom 0 0;

        @include media-breakpoint-up(md) {
            margin-left: calc(var(--bs-gutter-x) / -2);
            margin-right: calc(var(--bs-gutter-x) / -2);
        }
    }

    .page-content {
        @extend .col-md-8;
        padding-left: 0;
        padding-right: 0;

        @include media-breakpoint-up(md) {
            border-right: 1px solid $beige;
            padding: 0 calc(var(--bs-gutter-x) / 2) 0;
        }
    }

    .page-sidebar {
        @extend .col-md-4;
        border-top: 1px solid $beige;
        margin-top: $paragraph-margin-bottom;
        padding: $paragraph-margin-bottom 0 0;

        @include media-breakpoint-up(md) {
            border-top: 0;
            padding: 0 calc(var(--bs-gutter-x) / 2) 0;
        }

        .offices {
            list-style: none;
            font-size: 100%;

            li {
                border-bottom: 1px solid rgba($beige, .5);
                line-height: 1.625;
                padding: .5rem 0;
                position: relative;

                &:last-child {
                    border-bottom: 0;
                }

                h6 {
                    font-size: 112.5%;
                    margin: $paragraph-margin-bottom / 4 0 $paragraph-margin-bottom / 2;
                }

                &:first-child h6 {
                    margin-top: 0;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }
}