.site-footer {
    background: linear-gradient(180deg, rgba($brown, 1) 0%, rgba(darken($brown, .875), 1) 100%);
    background-color: $brown;
    box-shadow:
        $box-shadow,
        0 50vh 0 50vh $brown;
    color: rgba($white, .75);
    font-size: .875rem;
    padding: $paragraph-margin-bottom 0;

    a {
        color: rgba($white, .875);
        text-decoration: underline;

        &:hover {
            color: $white;
        }
    }
}