.site-footer {
    background: linear-gradient(180deg, rgba($brown, 1) 0%, rgba(darken($brown, .875), 1) 100%);
    background-color: $brown;
    box-shadow:
        $box-shadow,
        0 50vh 0 50vh $brown;
    color: rgba($white, .75);
    font-size: .875rem;
    margin-top: $paragraph-margin-bottom;
    padding: $paragraph-margin-bottom 0;

    a {
        color: rgba($white, .875);
        text-decoration: underline;

        &:hover {
            color: $white;
        }
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    p {
        margin-bottom: $paragraph-margin-bottom / 2;
    }

    .footer-section {
        @extend .col-md-4;
        border-bottom: 1px solid rgba($beige, .5);
        flex-shrink: 1;
        margin: 0 calc(var(--bs-gutter-x) / 2) $paragraph-margin-bottom;
        padding: 0 0 $paragraph-margin-bottom / 2;

        &:first-child {
            border-bottom: 0;
            order: 6;
        }

        &:last-child {
            order: -1;
        }


        @include media-breakpoint-up(md) {
            border-bottom: 0;
            border-right: 1px solid rgba($beige, .5);
            margin: 0;
            padding: 0 calc(var(--bs-gutter-x) / 2);

            &:first-child {
                order: -1;
            }

            &:last-child {
                border-right: 0;
                order: 6;
            }
        }
    }
}

.footer-breadcrumbs {
    @extend .row;
    margin-bottom: $paragraph-margin-bottom / 2;

    .breadcrumbs {
        border-bottom: 1px solid rgba($beige, .5);
        font-size: 125%;
        padding-bottom: $paragraph-margin-bottom / 2;

        i.fas {
            padding: 0 .375rem;
        }

        & > span > span > a:first-child {
            font-variant: small-caps;
            letter-spacing: .05rem;
            text-transform: lowercase;
        }
    }
}