html {
    font-size: 16px;
}

body {
    font-family: $proxima;
    font-feature-settings: "onum";
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.75;
    text-rendering: optimizeLegibility;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
}

p, ul, ol, dl, blockquote {
    margin-bottom: $paragraph-margin-bottom;

    &:last-child {
        margin-bottom: 0;
    }
}

b, strong {
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $proxima;
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: .875;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: .25rem;
    margin-bottom: $paragraph-margin-bottom / 2;

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 2.75rem;
    }
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .125rem;
    margin-bottom: $paragraph-margin-bottom / 2;

    @include media-breakpoint-up(md) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 2.25rem;
    }
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .0875rem;
    margin-bottom: $paragraph-margin-bottom / 4;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .075rem;
    margin-bottom: $paragraph-margin-bottom / 4;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .075rem;
    margin-bottom: 0;
}

blockquote {
    p {
        color: rgba($brown, .875);
        font-size: 1.125rem;
        margin-bottom: $paragraph-margin-bottom / 2;
    }

    cite {
        color: $taupe;
        font-family: $proxima;
        font-size: .875rem;
        font-style: normal;
    }
}

.muted {
    color: rgba($body-color, .5);
}

.nobr {
    white-space: nowrap;
}

.fab, .fas {
    font-size: 75%;
}