$blue: #26788c;
$red: #b45c3d;
$brown: #504842;
$taupe: #908a82;
$beige: #ccc7bf;

$primary: $blue;
$secondary: $red;

$link-color: $primary;
$link-hover-color: $red;

$paragraph-margin-bottom: 2rem;

$rfs-base-value: 1rem;
$rfs-breakpoint: 1140px;
$rfs-class: disable;

$aktiv: 'aktiv-grotesk', 'helvetica neue', 'helvetica', 'arial', sans-serif;
$aktiv-condensed: 'aktiv-grotesk-condensed', 'arial narrow', sans-serif;
$essonnes: 'essonnes-headline', 'didot', 'bodoni', serif;
$garamond: 'adobe-garamond-pro', 'garamond', serif;
$proxima: 'proxima-nova', 'montserrat', 'verdana', sans-serif;

$box-shadow-light: 0 .125rem 1rem rgba($black, .25);
$box-shadow: 0 .125rem 1rem rgba($black, .75);
$box-shadow-dark: 0 .125rem 1rem rgba($black, .75);