$blue: #26788c;
$red: #b45c3d;
$brown: #504842;
$taupe: #908a82;
$beige: #ccc7bf;

$primary: $blue;
$secondary: $red;

$link-color: $taupe;
$link-hover-color: $brown;

$paragraph-margin-bottom: 2rem;

$rfs-base-value: 1rem;
$rfs-breakpoint: 1140px;
$rfs-class: disable;

$essonnes: 'essonnes-headline', 'didot', 'bodoni', serif;
$garamond: 'adobe-garamond-pro', 'garamond', serif;
$proxima: 'proxima-nova', 'montserrat', 'verdana', sans-serif;
// $proxima: 'ff-meta-web-pro', 'mr-eaves-sans', sans-serif;

$box-shadow-light: 0 .125rem 1rem rgba($black, .25);
$box-shadow: 0 .125rem 1rem rgba($black, .5);
$box-shadow-dark: 0 .125rem 1rem rgba($black, .75);

$box-shadow-top-light: 0 -.125rem 1rem rgba($black, .25);
$box-shadow-top: 0 -.125rem 1rem rgba($black, .5);
$box-shadow-top-dark: 0 -.125rem 1rem rgba($black, .75);

$navbar-toggler-icon-bg:      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28203,199,190,0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$navbar-toggler-border-color: rgba($taupe, .75);